* {
  margin: 0%;
  padding: 0%;
  font-weight: normal;
}
body {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  background-image: url("../images/theme-2.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  background-repeat: no-repeat;
  width: 500px;
}
.full {
  margin-top: 180px;
}
.icons img {
  width: 40px;
  cursor: pointer;
}
.icons {
  display: grid;
  grid-template-columns: 100px 100px;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.icons a:link {
  color: white;
  text-decoration: none;
}
.pfp {
  width: 80px;
  height: 80px;
  border-radius: 20px;
}
.grid {
  margin-top: 20px;
}
